openapi: 3.1.2
info:
  title: Omnara API
  version: 0.1.0
  description: Public HTTP API contract for Omnara.
servers:
  - url: https://api.omnara.com/v1
    description: Hosted Omnara
  - url: /api/v1
    description: Self-hosted Omnara, relative to the deployment origin
security:
  - bearerAuth: []
  - browserSessionCookie: []
tags:
  - name: Agents
    description: Launch agents, send inputs, manage the input backlog, and work with tool calls.
    externalDocs:
      description: Guide
      url: https://docs.omnara.com/agents/overview
  - name: Interactions
    description: List and resolve the approvals and questions that pause an agent.
    externalDocs:
      description: Guide
      url: https://docs.omnara.com/events/interactions
  - name: Actors
    description: Attribute agent inputs and interaction responses to external users.
    externalDocs:
      description: Guide
      url: https://docs.omnara.com/events/sending-input#who-said-that-actors-and-attribution
  - name: Events
    description: Read or stream the agent timeline, list turns, and download artifacts.
    externalDocs:
      description: Guide
      url: https://docs.omnara.com/events/streaming
  - name: Configs and Profiles
    description: Create agent configs, manage reusable launch profiles, and set up integrations.
    externalDocs:
      description: Guide
      url: https://docs.omnara.com/agents/configuration
  - name: Models
    description: Configure model providers and models, and grant projects access to them.
    externalDocs:
      description: Guide
      url: https://docs.omnara.com/organization/model-providers
  - name: Machines
    description: Register machines, control project access, and manage daemon tokens.
    externalDocs:
      description: Guide
      url: https://docs.omnara.com/machines/connect
  - name: Machine Pools
    description: Define machine pools and grant projects access to them.
    externalDocs:
      description: Guide
      url: https://docs.omnara.com/machines/pools
  - name: Secrets
    description: Manage secret ownership and versions, and inspect or grant project availability.
    externalDocs:
      description: Guide
      url: https://docs.omnara.com/organization/secrets
  - name: Skills
    description: Manage versioned skill ownership and load skill instructions on demand.
    externalDocs:
      description: Guide
      url: https://docs.omnara.com/tools/skills
  - name: Organizations and Projects
    description: Create organizations and projects and manage membership.
    externalDocs:
      description: Guide
      url: https://docs.omnara.com/organization/members
  - name: Users and API Keys
    description: The authenticated user, personal and organization API keys, and invitations.
    externalDocs:
      description: Guide
      url: https://docs.omnara.com/api/authentication
  - name: Machine Daemon
    description: Routes the Omnara machine daemon uses to connect a machine.
paths:
  /personal-access-tokens:
    get:
      operationId: listPersonalAccessTokens
      tags: [Users and API Keys]
      summary: List the authenticated user's personal access tokens
      description: Items are ordered by created_at descending, then id descending.
      parameters:
        - $ref: '#/components/parameters/PageLimit'
        - $ref: '#/components/parameters/PageCursor'
      responses:
        '200':
          description: The authenticated user's personal access tokens.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListPersonalAccessTokensResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        '4XX':
          $ref: '#/components/responses/ClientError'
        '5XX':
          $ref: '#/components/responses/ServerError'
    post:
      operationId: createPersonalAccessToken
      tags: [Users and API Keys]
      summary: Create personal access token
      security:
        - browserSessionCookie: []
          csrfHeader: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreatePersonalAccessTokenRequest'
      responses:
        '201':
          description: Personal access token created.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreatePersonalAccessTokenResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        '4XX':
          $ref: '#/components/responses/ClientError'
        '5XX':
          $ref: '#/components/responses/ServerError'
  /personal-access-tokens/{tokenID}/revoke:
    parameters:
      - name: tokenID
        in: path
        required: true
        schema:
          type: string
          pattern: '^pat_[a-z2-7]{26}$'
    post:
      operationId: revokePersonalAccessToken
      tags: [Users and API Keys]
      summary: Revoke a personal access token
      security:
        - bearerAuth: []
        - browserSessionCookie: []
          csrfHeader: []
      responses:
        '200':
          description: The revoked personal access token.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PersonalAccessToken'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        '4XX':
          $ref: '#/components/responses/ClientError'
        '5XX':
          $ref: '#/components/responses/ServerError'
  /daemon/bootstrap:
    post:
      operationId: bootstrapDaemon
      x-hidden: true
      tags: [Machine Daemon]
      summary: Bootstrap daemon
      security:
        - machineDaemonAuth: []
      responses:
        '200':
          description: Machine daemon bootstrap information.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BootstrapDaemonResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        '4XX':
          $ref: '#/components/responses/ClientError'
        '5XX':
          $ref: '#/components/responses/ServerError'
  /daemon/failures:
    post:
      operationId: recordMachineFailure
      x-hidden: true
      tags: [Machine Daemon]
      summary: Record machine failure
      security:
        - machineDaemonAuth: []
      parameters:
        - name: stage
          in: query
          required: true
          schema:
            type: string
            enum: [startup_script, daemon_install, daemon_update, daemon_uninstall, daemon_uninstalled]
        - name: exit_status
          in: query
          required: false
          schema:
            type: integer
            minimum: 1
            maximum: 255
        - name: capture_status
          in: query
          required: false
          schema:
            type: integer
            minimum: 0
            maximum: 255
        - name: daemon_version
          in: query
          required: false
          schema:
            type: string
            maxLength: 100
        - name: target_version
          in: query
          required: false
          schema:
            type: string
            maxLength: 100
      requestBody:
        content:
          text/plain:
            schema:
              type: string
              maxLength: 4097
      responses:
        '204':
          description: Machine failure recorded.
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '4XX':
          $ref: '#/components/responses/ClientError'
        '5XX':
          $ref: '#/components/responses/ServerError'
  /orgs:
    get:
      operationId: listOrganizations
      tags: [Organizations and Projects]
      summary: List the authenticated principal's organizations
      description: Users get every organization they belong to; org API keys get the organization that issued them. Items are ordered by organization name ascending.
      responses:
        '200':
          description: Organizations the authenticated principal belongs to, with its role in each.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListOrganizationsResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        '4XX':
          $ref: '#/components/responses/ClientError'
        '5XX':
          $ref: '#/components/responses/ServerError'
    post:
      operationId: createOrganization
      tags: [Organizations and Projects]
      summary: Create organization
      description: |
        Creates the organization and its local default resources atomically.
        An idempotency key determines the proposed organization ID; replaying it
        returns the existing organization. Without a key, each request is a fresh
        attempt. Optional default-provider provisioning begins after commit and
        retries asynchronously without failing organization creation.
      security:
        - bearerAuth: []
        - browserSessionCookie: []
          csrfHeader: []
      parameters:
        - $ref: '#/components/parameters/IdempotencyKey'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateOrganizationRequest'
      responses:
        '201':
          description: Organization created.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateOrganizationResponse'
        '200':
          description: Idempotent replay of an existing organization creation.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateOrganizationResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        '4XX':
          $ref: '#/components/responses/ClientError'
        '5XX':
          $ref: '#/components/responses/ServerError'
  /orgs/{orgID}:
    parameters:
      - name: orgID
        in: path
        required: true
        schema:
          type: string
          pattern: '^org_[a-z2-7]{26}$'
    delete:
      operationId: deleteOrganization
      tags: [Organizations and Projects]
      summary: Delete organization
      description: >-
        Deletes the organization and everything in it: projects, memberships, pending invitations,
        profiles, integrations, machine pools and machines, model provider configs and configured
        models, and all skills. Agents are archived and their runtimes and queued work are stopped.
        Secrets are permanently deleted once machine teardown no longer needs them. Deletion fails if
        project agent teardown cannot complete. Only organization owners can delete an organization.
      security:
        - bearerAuth: []
        - browserSessionCookie: []
          csrfHeader: []
      responses:
        '204':
          description: Organization deleted.
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        '4XX':
          $ref: '#/components/responses/ClientError'
        '5XX':
          $ref: '#/components/responses/ServerError'
  /me:
    get:
      operationId: getCurrentUser
      tags: [Users and API Keys]
      summary: Get the authenticated user and their organizations
      responses:
        '200':
          description: The authenticated user and the organizations they belong to.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CurrentUser'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        '4XX':
          $ref: '#/components/responses/ClientError'
        '5XX':
          $ref: '#/components/responses/ServerError'
    delete:
      operationId: deleteCurrentUser
      tags: [Users and API Keys]
      summary: Delete the authenticated user's account
      description: >-
        Deletes the account, revokes all personal access tokens and browser sessions, removes all
        organization and project memberships, and releases the account's sign-in identity
        (emails, linked auth identities, and password credentials) so the same email can register a
        new account. Personal secrets and skills owned by the user are deleted with the account.
        Deletion is blocked while the user is the last owner of any organization (add another owner
        or delete the organization first), while a personal skill is referenced by an active
        agent's configuration, or while a personal secret is referenced by a model provider config,
        machine pool, or integration install. Organization and project resources are unaffected,
        and agents, machines, and other records the user created are kept with their attribution.
      security:
        - bearerAuth: []
        - browserSessionCookie: []
          csrfHeader: []
      responses:
        '204':
          description: Account deleted.
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        '4XX':
          $ref: '#/components/responses/ClientError'
        '5XX':
          $ref: '#/components/responses/ServerError'
  /invitations:
    get:
      operationId: listPendingInvitations
      tags: [Users and API Keys]
      summary: List pending invitations
      description: Items are ordered by created_at ascending, then id ascending.
      parameters:
        - $ref: '#/components/parameters/PageLimit'
        - $ref: '#/components/parameters/PageCursor'
      responses:
        '200':
          description: Pending organization invitations for the authenticated user.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListOrgInvitationsResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        '4XX':
          $ref: '#/components/responses/ClientError'
        '5XX':
          $ref: '#/components/responses/ServerError'
  /invitations/{invitationID}/accept:
    parameters:
      - name: invitationID
        in: path
        required: true
        schema:
          type: string
          pattern: '^oinv_[a-z2-7]{26}$'
    post:
      operationId: acceptInvitation
      tags: [Users and API Keys]
      summary: Accept invitation
      security:
        - bearerAuth: []
        - browserSessionCookie: []
          csrfHeader: []
      responses:
        '200':
          description: The accepted invitation; accepting consumes it and creates the membership.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrgInvitation'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        '4XX':
          $ref: '#/components/responses/ClientError'
        '5XX':
          $ref: '#/components/responses/ServerError'
  /invitations/{invitationID}/decline:
    parameters:
      - name: invitationID
        in: path
        required: true
        schema:
          type: string
          pattern: '^oinv_[a-z2-7]{26}$'
    post:
      operationId: declineInvitation
      tags: [Users and API Keys]
      summary: Decline invitation
      security:
        - bearerAuth: []
        - browserSessionCookie: []
          csrfHeader: []
      responses:
        '200':
          description: The declined invitation; declining consumes it.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrgInvitation'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        '4XX':
          $ref: '#/components/responses/ClientError'
        '5XX':
          $ref: '#/components/responses/ServerError'
  /orgs/{orgID}/overview:
    parameters:
      - name: orgID
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/OrganizationID'
    get:
      operationId: getOrgOverview
      x-hidden: true
      tags: [Organizations and Projects]
      summary: Get org overview
      description: >-
        Returns the data backing the web app's overview page: the caller's visible
        projects plus the most recently active agents and most recently updated
        agent profiles across every project the caller can read. Internal to the
        web app and subject to change without notice.
      responses:
        '200':
          description: Overview data for the organization.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrgOverviewResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        '4XX':
          $ref: '#/components/responses/ClientError'
        '5XX':
          $ref: '#/components/responses/ServerError'
  /orgs/{orgID}/usage:
    parameters:
      - name: orgID
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/OrganizationID'
    get:
      operationId: getOrgUsage
      tags: [Organizations and Projects]
      summary: Get org usage
      description: >-
        Tallies model token usage and provider-reported cost across every
        agent in the organization, broken down by configured model.
      responses:
        '200':
          description: Usage totals for the organization.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UsageReport'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        '4XX':
          $ref: '#/components/responses/ClientError'
        '5XX':
          $ref: '#/components/responses/ServerError'
  /orgs/{orgID}/projects:
    parameters:
      - name: orgID
        in: path
        required: true
        schema:
          type: string
          pattern: '^org_[a-z2-7]{26}$'
    post:
      operationId: createProject
      tags: [Organizations and Projects]
      summary: Create project
      security:
        - bearerAuth: []
        - browserSessionCookie: []
          csrfHeader: []
      parameters:
        - $ref: '#/components/parameters/IdempotencyKey'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateProjectRequest'
      responses:
        '201':
          description: Project created.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Project'
        '200':
          description: Idempotent replay of an existing project creation.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Project'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        '4XX':
          $ref: '#/components/responses/ClientError'
        '5XX':
          $ref: '#/components/responses/ServerError'
    get:
      operationId: listVisibleProjects
      tags: [Organizations and Projects]
      summary: List visible projects
      description: Items are ordered by created_at descending, then id descending.
      parameters:
        - $ref: '#/components/parameters/PageLimit'
        - $ref: '#/components/parameters/PageCursor'
      responses:
        '200':
          description: Projects visible to the authenticated user.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListProjectsResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        '4XX':
          $ref: '#/components/responses/ClientError'
        '5XX':
          $ref: '#/components/responses/ServerError'
  /orgs/{orgID}/projects/{projectID}:
    parameters:
      - name: orgID
        in: path
        required: true
        schema:
          type: string
          pattern: '^org_[a-z2-7]{26}$'
      - name: projectID
        in: path
        required: true
        schema:
          type: string
          pattern: '^proj_[a-z2-7]{26}$'
    delete:
      operationId: deleteProject
      tags: [Organizations and Projects]
      summary: Delete project
      description: >-
        Deletes the project, its memberships, profiles and profile versions, integration installs
        and targets, project-owned skills and revisions, and grants owned by or targeting the
        project. Project-owned secrets are permanently deleted with their versions and
        grants. The project's agents are archived and their runtimes and queued work are stopped.
        Machine, machine-pool, and model grants are removed without deleting the shared machine, pool,
        or model. Deletion fails if agent teardown cannot complete.
      security:
        - bearerAuth: []
        - browserSessionCookie: []
          csrfHeader: []
      responses:
        '204':
          description: Project deleted.
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        '4XX':
          $ref: '#/components/responses/ClientError'
        '5XX':
          $ref: '#/components/responses/ServerError'
  /orgs/{orgID}/projects/{projectID}/usage:
    parameters:
      - name: orgID
        in: path
        required: true
        schema:
          type: string
          pattern: '^org_[a-z2-7]{26}$'
      - name: projectID
        in: path
        required: true
        schema:
          type: string
          pattern: '^proj_[a-z2-7]{26}$'
    get:
      operationId: getProjectUsage
      tags: [Organizations and Projects]
      summary: Get project usage
      description: >-
        Tallies model token usage and provider-reported cost across every
        agent in the project, including subagents, broken down by configured model.
      responses:
        '200':
          description: Usage totals for the project.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UsageReport'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        '4XX':
          $ref: '#/components/responses/ClientError'
        '5XX':
          $ref: '#/components/responses/ServerError'
  /orgs/{orgID}/members:
    parameters:
      - name: orgID
        in: path
        required: true
        schema:
          type: string
          pattern: '^org_[a-z2-7]{26}$'
    get:
      operationId: listOrgMembers
      tags: [Organizations and Projects]
      summary: List organization members
      description: List organization members with server-side display-name filtering, sorting, and cursor pagination.
      parameters:
        - $ref: '#/components/parameters/ResourceNameFilter'
        - name: sort
          in: query
          schema:
            $ref: '#/components/schemas/CreatedResourceListSort'
        - $ref: '#/components/parameters/PageLimit'
        - $ref: '#/components/parameters/PageCursor'
      responses:
        '200':
          description: Members of the organization.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListOrgMembersResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        '4XX':
          $ref: '#/components/responses/ClientError'
        '5XX':
          $ref: '#/components/responses/ServerError'
  /orgs/{orgID}/members/{userID}:
    parameters:
      - name: orgID
        in: path
        required: true
        schema:
          type: string
          pattern: '^org_[a-z2-7]{26}$'
      - name: userID
        in: path
        required: true
        schema:
          type: string
          pattern: '^usr_[a-z2-7]{26}$'
    patch:
      operationId: updateOrgMember
      tags: [Organizations and Projects]
      summary: Update org member role
      security:
        - bearerAuth: []
        - browserSessionCookie: []
          csrfHeader: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateOrgMemberRequest'
      responses:
        '200':
          description: Org member role updated.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrganizationMembership'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        '4XX':
          $ref: '#/components/responses/ClientError'
        '5XX':
          $ref: '#/components/responses/ServerError'
    delete:
      operationId: removeOrgMember
      tags: [Organizations and Projects]
      summary: Remove org member
      description: >-
        Removes the user's organization membership and all project memberships in the
        organization. The member's personal secrets and skills in the organization are deleted with
        the membership. Removal is blocked when the user is the organization's last owner, while a
        personal skill is referenced by an active agent's configuration, or while a personal secret
        is referenced by a model provider config, machine pool, or integration install.
      security:
        - bearerAuth: []
        - browserSessionCookie: []
          csrfHeader: []
      responses:
        '204':
          description: Org member removed.
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        '4XX':
          $ref: '#/components/responses/ClientError'
        '5XX':
          $ref: '#/components/responses/ServerError'
  /orgs/{orgID}/members/{userID}/projects:
    parameters:
      - name: orgID
        in: path
        required: true
        schema:
          type: string
          pattern: '^org_[a-z2-7]{26}$'
      - name: userID
        in: path
        required: true
        schema:
          type: string
          pattern: '^usr_[a-z2-7]{26}$'
    get:
      operationId: listMemberProjectAccess
      tags: [Organizations and Projects]
      summary: List a member's explicit project role grants
      description: >-
        Lists the member's explicit per-project role grants. Org owners and
        admins implicitly have admin access to every project and will not
        appear here for those projects.
      responses:
        '200':
          description: The member's explicit project role grants.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListProjectMembershipGrantsResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        '4XX':
          $ref: '#/components/responses/ClientError'
        '5XX':
          $ref: '#/components/responses/ServerError'
  /orgs/{orgID}/members/{userID}/projects/{projectID}:
    parameters:
      - name: orgID
        in: path
        required: true
        schema:
          type: string
          pattern: '^org_[a-z2-7]{26}$'
      - name: userID
        in: path
        required: true
        schema:
          type: string
          pattern: '^usr_[a-z2-7]{26}$'
      - name: projectID
        in: path
        required: true
        schema:
          type: string
          pattern: '^proj_[a-z2-7]{26}$'
    put:
      operationId: setMemberProjectAccess
      tags: [Organizations and Projects]
      summary: Set a member's role on a project
      description: Creates or updates the member's explicit role grant on the project.
      security:
        - bearerAuth: []
        - browserSessionCookie: []
          csrfHeader: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SetProjectMembershipRequest'
      responses:
        '200':
          description: Project role grant set.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProjectMembershipGrant'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        '4XX':
          $ref: '#/components/responses/ClientError'
        '5XX':
          $ref: '#/components/responses/ServerError'
    delete:
      operationId: removeMemberProjectAccess
      tags: [Organizations and Projects]
      summary: Remove a member's project role grant
      description: >-
        Removes only the member's explicit role grant for this project. No other memberships, grants,
        or resources are deleted, and there are no dependency blockers.
      security:
        - bearerAuth: []
        - browserSessionCookie: []
          csrfHeader: []
      responses:
        '204':
          description: Project role grant removed.
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        '4XX':
          $ref: '#/components/responses/ClientError'
        '5XX':
          $ref: '#/components/responses/ServerError'
  /orgs/{orgID}/api-keys:
    parameters:
      - name: orgID
        in: path
        required: true
        schema:
          type: string
          pattern: '^org_[a-z2-7]{26}$'
    get:
      operationId: listOrgAPIKeys
      tags: [Users and API Keys]
      summary: List org API keys
      description: Items are ordered by created_at descending, then id descending. Revoked keys are included.
      parameters:
        - $ref: '#/components/parameters/PageLimit'
        - $ref: '#/components/parameters/PageCursor'
      responses:
        '200':
          description: The organization's API keys.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListOrgAPIKeysResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        '4XX':
          $ref: '#/components/responses/ClientError'
        '5XX':
          $ref: '#/components/responses/ServerError'
    post:
      operationId: createOrgAPIKey
      tags: [Users and API Keys]
      summary: Create org API key
      description: Mints an org API key. The plaintext token is returned once and never stored.
      security:
        - browserSessionCookie: []
          csrfHeader: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateOrgAPIKeyRequest'
      responses:
        '201':
          description: Org API key created.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateOrgAPIKeyResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        '4XX':
          $ref: '#/components/responses/ClientError'
        '5XX':
          $ref: '#/components/responses/ServerError'
  /orgs/{orgID}/api-keys/{keyID}:
    parameters:
      - name: orgID
        in: path
        required: true
        schema:
          type: string
          pattern: '^org_[a-z2-7]{26}$'
      - name: keyID
        in: path
        required: true
        schema:
          type: string
          pattern: '^oak_[a-z2-7]{26}$'
    get:
      operationId: getOrgAPIKey
      tags: [Users and API Keys]
      summary: Get an org API key
      responses:
        '200':
          description: The org API key.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrgAPIKey'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        '4XX':
          $ref: '#/components/responses/ClientError'
        '5XX':
          $ref: '#/components/responses/ServerError'
    patch:
      operationId: updateOrgAPIKey
      tags: [Users and API Keys]
      summary: Update an org API key
      description: Renames the key and/or changes its org role. Revoked keys cannot be updated.
      security:
        - browserSessionCookie: []
          csrfHeader: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateOrgAPIKeyRequest'
      responses:
        '200':
          description: The updated org API key.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrgAPIKey'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        '4XX':
          $ref: '#/components/responses/ClientError'
        '5XX':
          $ref: '#/components/responses/ServerError'
  /orgs/{orgID}/api-keys/{keyID}/revoke:
    parameters:
      - name: orgID
        in: path
        required: true
        schema:
          type: string
          pattern: '^org_[a-z2-7]{26}$'
      - name: keyID
        in: path
        required: true
        schema:
          type: string
          pattern: '^oak_[a-z2-7]{26}$'
    post:
      operationId: revokeOrgAPIKey
      tags: [Users and API Keys]
      summary: Revoke an org API key
      description: Terminally revokes the key and removes its org and project roles. Idempotent.
      security:
        - browserSessionCookie: []
          csrfHeader: []
      responses:
        '200':
          description: The revoked org API key.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrgAPIKey'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        '4XX':
          $ref: '#/components/responses/ClientError'
        '5XX':
          $ref: '#/components/responses/ServerError'
  /orgs/{orgID}/api-keys/{keyID}/projects:
    parameters:
      - name: orgID
        in: path
        required: true
        schema:
          type: string
          pattern: '^org_[a-z2-7]{26}$'
      - name: keyID
        in: path
        required: true
        schema:
          type: string
          pattern: '^oak_[a-z2-7]{26}$'
    get:
      operationId: listOrgAPIKeyProjectAccess
      tags: [Users and API Keys]
      summary: List an org API key's explicit project role grants
      description: >-
        Lists the key's explicit per-project role grants. Keys with the admin
        org role implicitly have admin access to every project and will not
        appear here for those projects.
      responses:
        '200':
          description: The key's explicit project role grants.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListProjectMembershipGrantsResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        '4XX':
          $ref: '#/components/responses/ClientError'
        '5XX':
          $ref: '#/components/responses/ServerError'
  /orgs/{orgID}/api-keys/{keyID}/projects/{projectID}:
    parameters:
      - name: orgID
        in: path
        required: true
        schema:
          type: string
          pattern: '^org_[a-z2-7]{26}$'
      - name: keyID
        in: path
        required: true
        schema:
          type: string
          pattern: '^oak_[a-z2-7]{26}$'
      - name: projectID
        in: path
        required: true
        schema:
          type: string
          pattern: '^proj_[a-z2-7]{26}$'
    put:
      operationId: setOrgAPIKeyProjectRole
      tags: [Users and API Keys]
      summary: Set an org API key's role on a project
      description: Creates or updates the key's explicit role grant on the project.
      security:
        - browserSessionCookie: []
          csrfHeader: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SetProjectMembershipRequest'
      responses:
        '200':
          description: Project role grant set.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProjectMembershipGrant'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        '4XX':
          $ref: '#/components/responses/ClientError'
        '5XX':
          $ref: '#/components/responses/ServerError'
    delete:
      operationId: removeOrgAPIKeyProjectRole
      tags: [Users and API Keys]
      summary: Remove an org API key's project role grant
      security:
        - browserSessionCookie: []
          csrfHeader: []
      responses:
        '204':
          description: Project role grant removed.
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        '4XX':
          $ref: '#/components/responses/ClientError'
        '5XX':
          $ref: '#/components/responses/ServerError'
  /orgs/{orgID}/invitations:
    parameters:
      - name: orgID
        in: path
        required: true
        schema:
          type: string
          pattern: '^org_[a-z2-7]{26}$'
    get:
      operationId: listOrgInvitations
      tags: [Organizations and Projects]
      summary: List org invitations
      description: >-
        Every listed invitation is pending: accepting, declining, revoking, or organization deletion
        removes the invitation. Items are ordered by created_at descending, then id descending.
      parameters:
        - $ref: '#/components/parameters/PageLimit'
        - $ref: '#/components/parameters/PageCursor'
      responses:
        '200':
          description: Organization invitations.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListOrgInvitationsResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        '4XX':
          $ref: '#/components/responses/ClientError'
        '5XX':
          $ref: '#/components/responses/ServerError'
    post:
      operationId: createOrgInvitation
      tags: [Organizations and Projects]
      summary: Create org invitation
      security:
        - bearerAuth: []
        - browserSessionCookie: []
          csrfHeader: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateOrgInvitationRequest'
      responses:
        '201':
          description: Organization invitation created.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrgInvitation'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        '4XX':
          $ref: '#/components/responses/ClientError'
        '5XX':
          $ref: '#/components/responses/ServerError'
  /orgs/{orgID}/invitations/{invitationID}:
    parameters:
      - name: orgID
        in: path
        required: true
        schema:
          type: string
          pattern: '^org_[a-z2-7]{26}$'
      - name: invitationID
        in: path
        required: true
        schema:
          type: string
          pattern: '^oinv_[a-z2-7]{26}$'
    delete:
      operationId: deleteOrgInvitation
      tags: [Organizations and Projects]
      summary: Delete org invitation
      description: Deletes the pending invitation so it can no longer be accepted.
      security:
        - bearerAuth: []
        - browserSessionCookie: []
          csrfHeader: []
      responses:
        '204':
          description: Organization invitation deleted.
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        '4XX':
          $ref: '#/components/responses/ClientError'
        '5XX':
          $ref: '#/components/responses/ServerError'
  /orgs/{orgID}/skills:
    parameters:
      - name: orgID
        in: path
        required: true
        schema:
          type: string
          pattern: '^org_[a-z2-7]{26}$'
    post:
      operationId: createSkill
      tags: [Skills]
      summary: Create skill
      description: >-
        Uploads a skill archive. If a skill with the archive's name already
        exists for the requested owner, the upload becomes the skill's next
        revision. The owner is immutable after creation.
      security:
        - bearerAuth: []
        - browserSessionCookie: []
          csrfHeader: []
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/CreateSkillRequest'
            encoding:
              owner:
                contentType: application/json
      responses:
        '201':
          description: Skill created.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Skill'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
        '413':
          description: The uploaded skill archive is too large.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          $ref: '#/components/responses/InternalServerError'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        '4XX':
          $ref: '#/components/responses/ClientError'
        '5XX':
          $ref: '#/components/responses/ServerError'
    get:
      operationId: listSkills
      tags: [Skills]
      summary: List skills visible through ownership authority
      description: Items are ordered by created_at descending, then id descending. Without an owner filter, returns the deduplicated union of organization skills the caller may list, project skills the caller may list, and the caller's own user skills. Grants are managed separately and do not change ownership.
      parameters:
        - $ref: '#/components/parameters/ResourceNameFilter'
        - $ref: '#/components/parameters/SkillOwnerKindFilter'
        - $ref: '#/components/parameters/SkillOwnerProjectIDFilter'
        - name: sort
          in: query
          schema:
            $ref: '#/components/schemas/ResourceListSort'
        - $ref: '#/components/parameters/PageLimit'
        - $ref: '#/components/parameters/PageCursor'
      responses:
        '200':
          description: Skills visible through ownership authority.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListSkillsResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        '4XX':
          $ref: '#/components/responses/ClientError'
        '5XX':
          $ref: '#/components/responses/ServerError'
  /orgs/{orgID}/skills/{skillID}:
    parameters:
      - name: orgID
        in: path
        required: true
        schema:
          type: string
          pattern: '^org_[a-z2-7]{26}$'
      - name: skillID
        in: path
        required: true
        schema:
          type: string
          pattern: '^skl_[a-z2-7]{26}$'
    get:
      operationId: getSkill
      tags: [Skills]
      summary: Get skill through ownership authority
      responses:
        '200':
          description: Visible skill metadata, instructions, and archive file listing.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Skill'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        '4XX':
          $ref: '#/components/responses/ClientError'
        '5XX':
          $ref: '#/components/responses/ServerError'
    post:
      operationId: updateSkill
      tags: [Skills]
      summary: Update skill by uploading a new revision
      description: >-
        Creates the skill's next revision from either a replacement archive or
        replacement SKILL.md content (which keeps every other file from the
        current revision). The SKILL.md frontmatter `name` must match the
        skill's existing name.
      security:
        - bearerAuth: []
        - browserSessionCookie: []
          csrfHeader: []
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/UpdateSkillRequest'
      responses:
        '200':
          description: Skill updated with a new revision.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Skill'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
        '413':
          description: The uploaded skill archive is too large.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          $ref: '#/components/responses/InternalServerError'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        '4XX':
          $ref: '#/components/responses/ClientError'
        '5XX':
          $ref: '#/components/responses/ServerError'
    delete:
      operationId: deleteSkill
      tags: [Skills]
      summary: Delete skill
      description: >-
        Deletes the skill together with all of its revisions and project grants; uploaded archive
        content is destroyed. No other resources are deleted. Deletion is blocked while an active
        agent's configuration references the skill.
      security:
        - bearerAuth: []
        - browserSessionCookie: []
          csrfHeader: []
      responses:
        '204':
          description: Skill deleted.
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
        '500':
          $ref: '#/components/responses/InternalServerError'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        '4XX':
          $ref: '#/components/responses/ClientError'
        '5XX':
          $ref: '#/components/responses/ServerError'
  /orgs/{orgID}/skills/{skillID}/grants:
    parameters:
      - name: orgID
        in: path
        required: true
        schema:
          type: string
          pattern: '^org_[a-z2-7]{26}$'
      - name: skillID
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/SkillID'
    get:
      operationId: listSkillGrants
      tags: [Skills]
      summary: List skill grants
      description: Items are ordered by created_at descending, then id descending.
      parameters:
        - $ref: '#/components/parameters/ResourceNameFilter'
        - name: sort
          in: query
          schema:
            $ref: '#/components/schemas/CreatedResourceListSort'
        - $ref: '#/components/parameters/PageLimit'
        - $ref: '#/components/parameters/PageCursor'
      responses:
        '200':
          description: Outgoing skill grants.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListSkillGrantsResponse'
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }
        '500': { $ref: '#/components/responses/InternalServerError' }
        '503': { $ref: '#/components/responses/ServiceUnavailable' }
        '4XX':
          $ref: '#/components/responses/ClientError'
        '5XX':
          $ref: '#/components/responses/ServerError'
    post:
      operationId: createSkillGrant
      tags: [Skills]
      summary: Create skill grant
      security:
        - bearerAuth: []
        - browserSessionCookie: []
          csrfHeader: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SkillGrantCreateRequest'
      responses:
        '201':
          description: Skill grant created.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SkillGrant'
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }
        '409': { $ref: '#/components/responses/Conflict' }
        '500': { $ref: '#/components/responses/InternalServerError' }
        '503': { $ref: '#/components/responses/ServiceUnavailable' }
        '4XX':
          $ref: '#/components/responses/ClientError'
        '5XX':
          $ref: '#/components/responses/ServerError'
  /orgs/{orgID}/skills/{skillID}/grants/{grantID}:
    parameters:
      - name: orgID
        in: path
        required: true
        schema:
          type: string
          pattern: '^org_[a-z2-7]{26}$'
      - name: skillID
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/SkillID'
      - name: grantID
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/SkillGrantID'
    delete:
      operationId: deleteSkillGrant
      tags: [Skills]
      summary: Delete skill grant
      description: >-
        Deletes only this project grant. The skill, its revisions, the target project, and other grants
        are retained, and there are no dependency blockers.
      security:
        - bearerAuth: []
        - browserSessionCookie: []
          csrfHeader: []
      responses:
        '204':
          description: Skill grant deleted.
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }
        '500': { $ref: '#/components/responses/InternalServerError' }
        '503': { $ref: '#/components/responses/ServiceUnavailable' }
        '4XX':
          $ref: '#/components/responses/ClientError'
        '5XX':
          $ref: '#/components/responses/ServerError'
  /orgs/{orgID}/projects/{projectID}/skills:
    parameters:
      - name: orgID
        in: path
        required: true
        schema:
          type: string
          pattern: '^org_[a-z2-7]{26}$'
      - name: projectID
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/ProjectID'
    get:
      operationId: listProjectAvailableSkills
      tags: [Skills]
      summary: List skills available to project
      description: Includes directly owned project skills and granted skills, ordered by created_at descending, then id descending.
      parameters:
        - $ref: '#/components/parameters/ResourceNameFilter'
        - $ref: '#/components/parameters/SkillOwnerKindFilter'
        - $ref: '#/components/parameters/SkillAvailabilitySourceFilter'
        - name: sort
          in: query
          schema:
            $ref: '#/components/schemas/ResourceListSort'
        - $ref: '#/components/parameters/PageLimit'
        - $ref: '#/components/parameters/PageCursor'
      responses:
        '200':
          description: Skills available to the project with their availability source.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListProjectSkillAccessesResponse'
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }
        '500': { $ref: '#/components/responses/InternalServerError' }
        '503': { $ref: '#/components/responses/ServiceUnavailable' }
        '4XX':
          $ref: '#/components/responses/ClientError'
        '5XX':
          $ref: '#/components/responses/ServerError'
  /orgs/{orgID}/secrets:
    parameters:
      - name: orgID
        in: path
        required: true
        schema:
          type: string
          pattern: '^org_[a-z2-7]{26}$'
    get:
      operationId: listSecrets
      tags: [Secrets]
      summary: List secrets visible through ownership authority
      description: Items are ordered by created_at descending, then id descending. Without an owner filter, returns the deduplicated union of organization secrets the caller may list, project secrets the caller may list, and the caller's own user secrets.
      parameters:
        - $ref: '#/components/parameters/ResourceNameFilter'
        - $ref: '#/components/parameters/SecretKindFilter'
        - $ref: '#/components/parameters/SecretOwnerKindFilter'
        - $ref: '#/components/parameters/SecretOwnerProjectIDFilter'
        - $ref: '#/components/parameters/SecretMCPOAuthFlowIDFilter'
        - $ref: '#/components/parameters/SecretMetadataFilter'
        - name: sort
          in: query
          schema:
            $ref: '#/components/schemas/ResourceListSort'
        - $ref: '#/components/parameters/PageLimit'
        - $ref: '#/components/parameters/PageCursor'
      responses:
        '200':
          description: Secrets visible through ownership authority.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListSecretsResponse'
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }
        '500': { $ref: '#/components/responses/InternalServerError' }
        '503': { $ref: '#/components/responses/ServiceUnavailable' }
        '4XX':
          $ref: '#/components/responses/ClientError'
        '5XX':
          $ref: '#/components/responses/ServerError'
    post:
      operationId: createSecret
      tags: [Secrets]
      summary: Create secret
      security:
        - bearerAuth: []
        - browserSessionCookie: []
          csrfHeader: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateSecretRequest'
      responses:
        '201':
          description: Secret created.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Secret'
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }
        '409': { $ref: '#/components/responses/Conflict' }
        '500': { $ref: '#/components/responses/InternalServerError' }
        '503': { $ref: '#/components/responses/ServiceUnavailable' }
        '4XX':
          $ref: '#/components/responses/ClientError'
        '5XX':
          $ref: '#/components/responses/ServerError'
  /orgs/{orgID}/secrets/mcp-oauth:
    parameters:
      - name: orgID
        in: path
        required: true
        schema:
          type: string
          pattern: '^org_[a-z2-7]{26}$'
    post:
      operationId: startSecretMCPOAuth
      tags: [Secrets]
      summary: Start MCP OAuth for a new secret
      security:
        - bearerAuth: []
        - browserSessionCookie: []
          csrfHeader: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MCPOAuthStartRequest'
      responses:
        '201':
          description: MCP OAuth flow started.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MCPOAuthStartResponse'
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }
        '409': { $ref: '#/components/responses/Conflict' }
        '422': { $ref: '#/components/responses/UnprocessableEntity' }
        '502': { $ref: '#/components/responses/BadGateway' }
        '500': { $ref: '#/components/responses/InternalServerError' }
        '503': { $ref: '#/components/responses/ServiceUnavailable' }
        '4XX':
          $ref: '#/components/responses/ClientError'
        '5XX':
          $ref: '#/components/responses/ServerError'
  /orgs/{orgID}/secrets/{secretID}:
    parameters:
      - name: orgID
        in: path
        required: true
        schema:
          type: string
          pattern: '^org_[a-z2-7]{26}$'
      - name: secretID
        in: path
        required: true
        schema:
          type: string
          pattern: '^sec_[a-z2-7]{26}$'
    get:
      operationId: getSecret
      tags: [Secrets]
      summary: Get secret through ownership authority
      responses:
        '200':
          description: Secret.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Secret'
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }
        '500': { $ref: '#/components/responses/InternalServerError' }
        '503': { $ref: '#/components/responses/ServiceUnavailable' }
        '4XX':
          $ref: '#/components/responses/ClientError'
        '5XX':
          $ref: '#/components/responses/ServerError'
    patch:
      operationId: updateSecret
      tags: [Secrets]
      summary: Update secret metadata
      security:
        - bearerAuth: []
        - browserSessionCookie: []
          csrfHeader: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateSecretRequest'
      responses:
        '200':
          description: Secret updated.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Secret'
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }
        '409': { $ref: '#/components/responses/Conflict' }
        '500': { $ref: '#/components/responses/InternalServerError' }
        '503': { $ref: '#/components/responses/ServiceUnavailable' }
        '4XX':
          $ref: '#/components/responses/ClientError'
        '5XX':
          $ref: '#/components/responses/ServerError'
    delete:
      operationId: deleteSecret
      tags: [Secrets]
      summary: Delete secret
      description: >-
        Deletes the secret and permanently destroys all of its versions and project grants; the
        ciphertext cannot be recovered. Deletion is blocked while the secret is referenced by a
        model provider config, machine pool, or integration install.
      security:
        - bearerAuth: []
        - browserSessionCookie: []
          csrfHeader: []
      responses:
        '204':
          description: Secret deleted.
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }
        '409': { $ref: '#/components/responses/Conflict' }
        '500': { $ref: '#/components/responses/InternalServerError' }
        '503': { $ref: '#/components/responses/ServiceUnavailable' }
        '4XX':
          $ref: '#/components/responses/ClientError'
        '5XX':
          $ref: '#/components/responses/ServerError'
  /orgs/{orgID}/secrets/{secretID}/versions:
    parameters:
      - name: orgID
        in: path
        required: true
        schema:
          type: string
          pattern: '^org_[a-z2-7]{26}$'
      - name: secretID
        in: path
        required: true
        schema:
          type: string
          pattern: '^sec_[a-z2-7]{26}$'
    post:
      operationId: createSecretVersion
      tags: [Secrets]
      summary: Create secret version
      security:
        - bearerAuth: []
        - browserSessionCookie: []
          csrfHeader: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SecretVersionRequest'
      responses:
        '200':
          description: Secret version created.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Secret'
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }
        '409': { $ref: '#/components/responses/Conflict' }
        '500': { $ref: '#/components/responses/InternalServerError' }
        '503': { $ref: '#/components/responses/ServiceUnavailable' }
        '4XX':
          $ref: '#/components/responses/ClientError'
        '5XX':
          $ref: '#/components/responses/ServerError'
  /orgs/{orgID}/secrets/{secretID}/grants:
    parameters:
      - name: orgID
        in: path
        required: true
        schema:
          type: string
          pattern: '^org_[a-z2-7]{26}$'
      - name: secretID
        in: path
        required: true
        schema:
          type: string
          pattern: '^sec_[a-z2-7]{26}$'
    get:
      operationId: listSecretGrants
      tags: [Secrets]
      summary: List secret grants
      description: Items are ordered by created_at descending, then id descending.
      parameters:
        - $ref: '#/components/parameters/ResourceNameFilter'
        - name: sort
          in: query
          schema:
            $ref: '#/components/schemas/CreatedResourceListSort'
        - $ref: '#/components/parameters/PageLimit'
        - $ref: '#/components/parameters/PageCursor'
      responses:
        '200':
          description: Outgoing secret grants.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListSecretGrantsResponse'
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }
        '500': { $ref: '#/components/responses/InternalServerError' }
        '503': { $ref: '#/components/responses/ServiceUnavailable' }
        '4XX':
          $ref: '#/components/responses/ClientError'
        '5XX':
          $ref: '#/components/responses/ServerError'
    post:
      operationId: createSecretGrant
      tags: [Secrets]
      summary: Create secret grant
      security:
        - bearerAuth: []
        - browserSessionCookie: []
          csrfHeader: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SecretGrantCreateRequest'
      responses:
        '201':
          description: Secret grant created.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SecretGrant'
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }
        '409': { $ref: '#/components/responses/Conflict' }
        '500': { $ref: '#/components/responses/InternalServerError' }
        '503': { $ref: '#/components/responses/ServiceUnavailable' }
        '4XX':
          $ref: '#/components/responses/ClientError'
        '5XX':
          $ref: '#/components/responses/ServerError'
  /orgs/{orgID}/secrets/{secretID}/grants/{grantID}:
    parameters:
      - name: orgID
        in: path
        required: true
        schema:
          type: string
          pattern: '^org_[a-z2-7]{26}$'
      - name: secretID
        in: path
        required: true
        schema:
          type: string
          pattern: '^sec_[a-z2-7]{26}$'
      - name: grantID
        in: path
        required: true
        schema:
          type: string
          pattern: '^sgr_[a-z2-7]{26}$'
    delete:
      operationId: deleteSecretGrant
      tags: [Secrets]
      summary: Delete secret grant
      description: >-
        Deletes only this project grant. The secret, its versions, the target project, and other grants
        are retained, and there are no dependency blockers.
      security:
        - bearerAuth: []
        - browserSessionCookie: []
          csrfHeader: []
      responses:
        '204':
          description: Secret grant deleted.
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }
        '500': { $ref: '#/components/responses/InternalServerError' }
        '503': { $ref: '#/components/responses/ServiceUnavailable' }
        '4XX':
          $ref: '#/components/responses/ClientError'
        '5XX':
          $ref: '#/components/responses/ServerError'
  /orgs/{orgID}/projects/{projectID}/integration-installs:
    parameters:
      - name: orgID
        in: path
        required: true
        schema:
          type: string
          pattern: '^org_[a-z2-7]{26}$'
      - name: projectID
        in: path
        required: true
        schema:
          type: string
          pattern: '^proj_[a-z2-7]{26}$'
    get:
      operationId: listIntegrationInstalls
      tags: [Configs and Profiles]
      summary: List integration installs
      description: >-
        Items are ordered by created_at descending, then id descending. The list's logical name is
        provider_agent_display_name.
      parameters:
        - $ref: '#/components/parameters/ResourceNameFilter'
        - $ref: '#/components/parameters/IntegrationInstallAgentProfileFilter'
        - $ref: '#/components/parameters/IntegrationInstallOAuthFlowIDFilter'
        - name: sort
          in: query
          schema:
            $ref: '#/components/schemas/ResourceListSort'
        - $ref: '#/components/parameters/PageLimit'
        - $ref: '#/components/parameters/PageCursor'
      responses:
        '200':
          description: Integration installs in the project, newest first.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListIntegrationInstallsResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        '4XX':
          $ref: '#/components/responses/ClientError'
        '5XX':
          $ref: '#/components/responses/ServerError'
  /orgs/{orgID}/projects/{projectID}/integration-installs/{integrationInstallID}:
    parameters:
      - name: orgID
        in: path
        required: true
        schema:
          type: string
          pattern: '^org_[a-z2-7]{26}$'
      - name: projectID
        in: path
        required: true
        schema:
          type: string
          pattern: '^proj_[a-z2-7]{26}$'
      - name: integrationInstallID
        in: path
        required: true
        schema:
          type: string
          pattern: '^iin_[a-z2-7]{26}$'
    delete:
      operationId: deleteIntegrationInstall
      tags: [Configs and Profiles]
      summary: Delete integration install
      description: >-
        Deletes the install and all of its integration targets and clears those target associations from
        agents. Agents and profiles are retained. This uninstalls on the Omnara side only: credentials
        already issued by the provider are not revoked and provider-side webhooks are not removed.
      security:
        - bearerAuth: []
        - browserSessionCookie: []
          csrfHeader: []
      responses:
        '204':
          description: Integration install deleted.
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        '4XX':
          $ref: '#/components/responses/ClientError'
        '5XX':
          $ref: '#/components/responses/ServerError'
  /orgs/{orgID}/projects/{projectID}/agent-configs:
    parameters:
      - name: orgID
        in: path
        required: true
        schema:
          type: string
          pattern: '^org_[a-z2-7]{26}$'
      - name: projectID
        in: path
        required: true
        schema:
          type: string
          pattern: '^proj_[a-z2-7]{26}$'
    post:
      operationId: createAgentConfig
      tags: [Configs and Profiles]
      summary: Create agent config
      security:
        - bearerAuth: []
        - browserSessionCookie: []
          csrfHeader: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateAgentConfigRequest'
      responses:
        '200':
          description: Existing agent config returned.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AgentConfig'
        '201':
          description: Agent config created.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AgentConfig'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        '4XX':
          $ref: '#/components/responses/ClientError'
        '5XX':
          $ref: '#/components/responses/ServerError'
  /tool-catalog:
    get:
      operationId: getToolCatalog
      tags: [Configs and Profiles]
      summary: Get tool catalog
      responses:
        '200':
          description: Built-in tools and permission modes available to agent configs.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ToolCatalog'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        '4XX':
          $ref: '#/components/responses/ClientError'
        '5XX':
          $ref: '#/components/responses/ServerError'
  /mcp-servers:
    get:
      operationId: listMCPServers
      tags: [Configs and Profiles]
      summary: Search the MCP server registry
      description: Search the API's snapshot of the public MCP registry. The snapshot only holds active servers that publish a `streamable-http` remote. Results are ranked by relevance when `q` is set, otherwise ordered by name.
      parameters:
        - name: q
          in: query
          required: false
          schema:
            type: string
            maxLength: 200
          description: Free-text query matched against server name, title, description, and remote URLs. Each term matches as a prefix.
        - name: remote_url
          in: query
          required: false
          schema:
            type: string
            maxLength: 2048
          description: Only return servers with a remote at exactly this URL. Matching is case-insensitive and ignores the scheme and trailing slashes, so `MCP.linear.app/mcp/` matches `https://mcp.linear.app/mcp`.
        - $ref: '#/components/parameters/PageLimit'
        - $ref: '#/components/parameters/PageCursor'
      responses:
        '200':
          description: Registry servers matching the query.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListMCPServersResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '500':
          $ref: '#/components/responses/InternalServerError'
        '4XX':
          $ref: '#/components/responses/ClientError'
        '5XX':
          $ref: '#/components/responses/ServerError'
  /orgs/{orgID}/projects/{projectID}/mcp-servers/tools:
    parameters:
      - name: orgID
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/OrganizationID'
      - name: projectID
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/ProjectID'
    post:
      operationId: listMCPServerTools
      tags: [Configs and Profiles]
      summary: List an MCP server's tools
      description: Connects to a remote MCP server over streamable HTTP, negotiates the protocol version (stateless `server/discover` first, falling back to the `initialize` handshake for session-based servers), and returns the server's `tools/list` result. The request is not stored; use it to preview which tools a server exposes before referencing it from an agent config. Authentication mirrors the agent config `mcp_servers.<key>.auth` shape and resolves secrets available to the project. When the server rejects the connection with HTTP 401 or 403, the API probes the server's authorization requirements and responds 422 with an `auth` hint — `oauth` when the server advertises an OAuth authorization server, `bearer` when it expects a token but advertises no OAuth metadata.
      security:
        - bearerAuth: []
        - browserSessionCookie: []
          csrfHeader: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MCPServerToolsRequest'
      responses:
        '200':
          description: Tools advertised by the MCP server.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MCPServerToolsResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          description: The MCP server rejected the configured authentication. `auth` hints which auth type the server expects.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MCPServerAuthRequiredError'
        '502':
          $ref: '#/components/responses/BadGateway'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        '4XX':
          $ref: '#/components/responses/ClientError'
        '5XX':
          $ref: '#/components/responses/ServerError'
  /orgs/{orgID}/projects/{projectID}/agent-configs/{agentConfigID}:
    parameters:
      - name: orgID
        in: path
        required: true
        schema:
          type: string
          pattern: '^org_[a-z2-7]{26}$'
      - name: projectID
        in: path
        required: true
        schema:
          type: string
          pattern: '^proj_[a-z2-7]{26}$'
      - name: agentConfigID
        in: path
        required: true
        schema:
          type: string
          pattern: '^acfg_[a-z2-7]{26}$'
    get:
      operationId: getAgentConfig
      tags: [Configs and Profiles]
      summary: Get agent config
      responses:
        '200':
          description: Agent config.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AgentConfig'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        '4XX':
          $ref: '#/components/responses/ClientError'
        '5XX':
          $ref: '#/components/responses/ServerError'
  /orgs/{orgID}/projects/{projectID}/agent-profiles:
    parameters:
      - name: orgID
        in: path
        required: true
        schema:
          type: string
          pattern: '^org_[a-z2-7]{26}$'
      - name: projectID
        in: path
        required: true
        schema:
          type: string
          pattern: '^proj_[a-z2-7]{26}$'
    post:
      operationId: createAgentProfile
      tags: [Configs and Profiles]
      summary: Create agent profile
      security:
        - bearerAuth: []
        - browserSessionCookie: []
          csrfHeader: []
      parameters:
        - $ref: '#/components/parameters/IdempotencyKey'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateAgentProfileRequest'
      responses:
        '200':
          description: Existing agent profile returned.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AgentProfile'
        '201':
          description: Agent profile created.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AgentProfile'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        '4XX':
          $ref: '#/components/responses/ClientError'
        '5XX':
          $ref: '#/components/responses/ServerError'
    get:
      operationId: listAgentProfiles
      tags: [Configs and Profiles]
      summary: List agent profiles
      description: Items are ordered by created_at descending, then id descending.
      parameters:
        - $ref: '#/components/parameters/ResourceNameFilter'
        - name: sort
          in: query
          schema:
            $ref: '#/components/schemas/ResourceListSort'
        - $ref: '#/components/parameters/PageLimit'
        - $ref: '#/components/parameters/PageCursor'
      responses:
        '200':
          description: Agent profiles in the project, newest first.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListAgentProfilesResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        '4XX':
          $ref: '#/components/responses/ClientError'
        '5XX':
          $ref: '#/components/responses/ServerError'
  /orgs/{orgID}/projects/{projectID}/agent-profiles/{agentProfileID}:
    parameters:
      - name: orgID
        in: path
        required: true
        schema:
          type: string
          pattern: '^org_[a-z2-7]{26}$'
      - name: projectID
        in: path
        required: true
        schema:
          type: string
          pattern: '^proj_[a-z2-7]{26}$'
      - name: agentProfileID
        in: path
        required: true
        schema:
          type: string
          pattern: '^aprf_[a-z2-7]{26}$'
    get:
      operationId: getAgentProfile
      tags: [Configs and Profiles]
      summary: Get agent profile
      responses:
        '200':
          description: Agent profile.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AgentProfile'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        '4XX':
          $ref: '#/components/responses/ClientError'
        '5XX':
          $ref: '#/components/responses/ServerError'
    patch:
      operationId: renameAgentProfile
      tags: [Configs and Profiles]
      summary: Rename agent profile
      security:
        - bearerAuth: []
        - browserSessionCookie: []
          csrfHeader: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RenameAgentProfileRequest'
      responses:
        '200':
          description: Agent profile renamed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AgentProfile'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        '4XX':
          $ref: '#/components/responses/ClientError'
        '5XX':
          $ref: '#/components/responses/ServerError'
    delete:
      operationId: deleteAgentProfile
      tags: [Configs and Profiles]
      summary: Delete agent profile
      description: >-
        Deletes the profile, all of its profile versions, and any cron triggers targeting the
        profile. Agents launched from the profile are retained and keep running: each agent holds an
        immutable snapshot of the configuration it was launched with, so its reference to the profile
        becomes historical provenance only. Deletion is blocked while an active integration install
        references the profile.
      security:
        - bearerAuth: []
        - browserSessionCookie: []
          csrfHeader: []
      responses:
        '204':
          description: Resource deleted.
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        '4XX':
          $ref: '#/components/responses/ClientError'
        '5XX':
          $ref: '#/components/responses/ServerError'
  /orgs/{orgID}/projects/{projectID}/agent-profiles/{agentProfileID}/usage:
    parameters:
      - name: orgID
        in: path
        required: true
        schema:
          type: string
          pattern: '^org_[a-z2-7]{26}$'
      - name: projectID
        in: path
        required: true
        schema:
          type: string
          pattern: '^proj_[a-z2-7]{26}$'
      - name: agentProfileID
        in: path
        required: true
        schema:
          type: string
          pattern: '^aprf_[a-z2-7]{26}$'
    get:
      operationId: getAgentProfileUsage
      tags: [Configs and Profiles]
      summary: Get agent profile usage
      description: >-
        Tallies model token usage and provider-reported cost across the
        top-level agents launched from this profile, broken down by configured
        model. Usage from subagents those agents spawned is not included.
      responses:
        '200':
          description: Usage totals for the agent profile.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UsageReport'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        '4XX':
          $ref: '#/components/responses/ClientError'
        '5XX':
          $ref: '#/components/responses/ServerError'
  /orgs/{orgID}/projects/{projectID}/agent-profiles/{agentProfileID}/config:
    parameters:
      - name: orgID
        in: path
        required: true
        schema:
          type: string
          pattern: '^org_[a-z2-7]{26}$'
      - name: projectID
        in: path
        required: true
        schema:
          type: string
          pattern: '^proj_[a-z2-7]{26}$'
      - name: agentProfileID
        in: path
        required: true
        schema:
          type: string
          pattern: '^aprf_[a-z2-7]{26}$'
    post:
      operationId: updateAgentProfile
      tags: [Configs and Profiles]
      summary: Update agent profile
      security:
        - bearerAuth: []
        - browserSessionCookie: []
          csrfHeader: []
      parameters:
        - $ref: '#/components/parameters/IdempotencyKey'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateAgentProfileRequest'
      responses:
        '200':
          description: Agent profile updated.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AgentProfile'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        '4XX':
          $ref: '#/components/responses/ClientError'
        '5XX':
          $ref: '#/components/responses/ServerError'
  /orgs/{orgID}/projects/{projectID}/agent-profiles/{agentProfileID}/integration-oauth/setup:
    parameters:
      - name: orgID
        in: path
        required: true
        schema:
          type: string
          pattern: '^org_[a-z2-7]{26}$'
      - name: projectID
        in: path
        required: true
        schema:
          type: string
          pattern: '^proj_[a-z2-7]{26}$'
      - name: agentProfileID
        in: path
        required: true
        schema:
          type: string
          pattern: '^aprf_[a-z2-7]{26}$'
    post:
      operationId: createIntegrationOAuthSetup
      tags: [Configs and Profiles]
      summary: Create integration OAuth setup
      security:
        - bearerAuth: []
        - browserSessionCookie: []
          csrfHeader: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateIntegrationOAuthSetupRequest'
      responses:
        '201':
          description: Integration OAuth setup created.
          content:
            application/json:
              schema:
[...]
